---
import FeaturedArticles from "../FeaturedArticles.astro"
---

  <section class="section-how" id="how">
        <div class="container center-text">
          <h2 class="heading-secondary">A Glimpse into My Thoughts</h2>
        </div>

        <div class="container articles-grid grid--center-v">
          <div>
            <img
              src="https://images.pexels.com/photos/14838102/pexels-photo-14838102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Latest Article"
              class="articles-latest-img"
            />

            <div>
              <span class="article-latest-subheading">Latest</span>
              <p class="article-latest-title">
                <a href="blogpost.html">How I Improved My Bench</a>
              </p>
              <p class="article-latest-description">
                My journey to a stronger bench press: Tips to finally break
                through.
              </p>
            </div>
          </div>

          <div>
            <h2 class="heading-tertiary">Articles</h2>
            <p class="article-description margin-bottom-md">
              Most of my articles are about fitness, programming, and navigating
              the ever-evolving digital landscape. They're a blend of
              experimentation, exploration, and practical advice – a record of
              my journey to optimize health, conquer coding challenges, and make
              sense of the intersection of these fields.
            </p>
            <a href="#cta" class="btn btn--outline margin-right-sm"
              >All Articles</a
            >
          </div>
        </div>
        
        <FeaturedArticles/>

      </section>