---

---


<section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">Hi, I'm Adir Avraham</h1>
            <!-- TODO: Write clear despcription -->
            <p class="hero-description">
              Welcome to my corner of the web! I
              <a href="articles/articles.html">write</a> about decoding health,
              hacking fitness, and exploring the world of code.
            </p>

            <!-- TODO: Subscribe to newsletter form -->
            <p class="hero-description">
              Sign up for my newsletter and get actionable fitness hacks and
              code tips delivered weekly!
            </p>
            <form class="cta-form" name="sign-up">
              <div>
                <input
                  id="email"
                  type="email"
                  placeholder="Your Email Address"
                  name="email"
                  required
                />
              </div>

              <button class="btn btn--form btn-hero-cta">Subscribe</button>
            </form>
          </div>
          <div class="hero-img-box">
            <!-- TODO: Change Image -->
            <picture>
              <source srcset="img/hero.webp" type="image/webp" />
              <source srcset="img/hero-min.png" type="image/png" />
              <img
                src="img/hero-min.png"
                class="hero-img"
                alt="Woman enjoying food, articles in storage container, and food bowls on a table"
              />
            </picture>
          </div>
        </div>
      </section>