---
import { Image } from 'astro:assets';
import HeadingPrimary from "../headings/HeadingPrimary.astro";
import HeroDescription from "./HeroDescription.astro";
import HeroCTAForm from "./HeroCTAForm.astro";

import circledLogoBlue from '../../images/circledLogoBlue.png';

const heroDescription = `Welcome to my corner of the web! I write about decoding health, hacking fitness, and exploring the world of code.`;
const heroCTAText = "Sign up for my newsletter and get actionable fitness hacks andcode tips delivered weekly!";
const headingText = "Hi, I'm Adir Avraham"
---


<section class="pt-6 pb-16 bg-white sm:pt-12 sm:pb-24">
        <div class="container mx-auto px-8 grid grid-cols-1 items-center gap-16 lg:px-20 lg:grid-cols-2 xl:gap-12 2xl:px-8 2xl:gap-24">
          <div class="text-center lg:text-start">
            <HeadingPrimary text={headingText}/>
            <!-- TODO: Write clear despcription -->
            <HeroDescription text={heroDescription}/>
            <!-- CTA -->
            <HeroDescription text={heroCTAText}/>
            
            <HeroCTAForm />
          </div>

          <div>
            <!-- TODO: Change Image -->
            <Image src={circledLogoBlue} alt='A picture of me' class:list={"mx-auto w-4/5 sm:w-3/5 lg:w-full lg:max-h-1/2"}/>
          </div>
        </div>
</section>
