---
import { db } from "astro:db";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Newsletter } from "astro:db";

export const prerender = false;

const emails = await db.select().from(Newsletter);

---

<BaseLayout>

    <div class="flex flex-col gap-3 text-3xl">
        {emails.map(email => <p>ID: {email.id} fullName: {email.fullName} email: {email.email}</p>)}
    </div>

</BaseLayout>