---
const {text, icon="play-outline"} = Astro.props;
---

<li class=" mb-1 sm:mb-2 text-xl leading-relaxed">
    <ion-icon name={icon} class="text-blue-700 font-bold text-2xl"></ion-icon> {text}
</li>

