---
import ArticleCard from "./ArticleCard.astro";
import Subheading from "../headings/Subheading.astro";
import { getEntry } from "astro:content";
import ArticlesGroup from "./ArticlesGroup.astro";

const heading = "Featured";

const featured1 = await getEntry('posts','is-all-this-cardio-really-necessary-for-fat-loss');
const featured2 = await getEntry('posts','is-all-this-cardio-really-necessary-for-fat-loss');
const featured3 = await getEntry('posts','is-all-this-cardio-really-necessary-for-fat-loss');

const featuredArticles = [featured1, featured2, featured3];
---

<div class="container mx-auto px-8">
    <Subheading text={heading}/>
    <ArticlesGroup posts={featuredArticles}/>
</div>