---
---

<button class="block z-50 lg:hidden">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
</button>

<script>
    document.querySelector('menu-outline').addEventListener('click', (event) =>{

    });

    document.querySelector('close-outline').addEventListener('click', (event) =>{

    });
</script>