---
---

<button class="block z-50 lg:hidden">

<!-- Menu -->
<ion-icon class="icon-mobile-nav text-3xl" name="menu-outline" id="main-nav-hamburger"></ion-icon>

<!-- Close -->
<ion-icon class="icon-mobile-nav hidden text-3xl" name="close-outline" id="main-nav-close"></ion-icon>

    <script>
        import "../../scripts/menu.js";
    </script>
</button>

