---
const {regularText, markedText =""} = Astro.props;
---

<h2 class=" font-serif mb-6 tracking-heading uppercase font-normal text-4xl text-blue-600">
    {regularText}
    <span class=" font-semibold text-blue-700">
        {markedText}
    </span>
</h2>


