---
import BaseLayout from "../layouts/BaseLayout.astro"
import FullCTA from "../components/FullCTA.astro";
import { getCollection } from "astro:content";
import HeadingPrimary from "../components/headings/HeadingPrimary.astro";
import ArticlesGroup from "../components/articles/ArticlesGroup.astro";

const title = "Fitness Articles | Adir Avraham";
const description = "Explore a comprehensive collection of fitness articles by Adir Avraham. Find expert advice, workout routines, nutrition tips, and much more to help you achieve your fitness goals.";
const heading = "Fitness Articles";

const posts = await getCollection('posts');
---

<BaseLayout title={title} description={description}>
    
    <div class="container mx-auto text-center">
        <HeadingPrimary text={heading} />
    </div>
    
    <section class="container mx-auto text-center">
        <ArticlesGroup posts={posts} />
    </section>
   
    <FullCTA />

</BaseLayout>
