---

---

<section class="section-cta" id="cta">
        <div class="container">
          <div class="cta">
            <div class="cta-text-box">
              <h2 class="cta-headline">
                Supercharge Your Fitness Journey -
                <span>Get Your Free Workout Log</span>
              </h2>
              <p class="cta-description">
                Download a free Excel workout log and meticulously track every
                set, rep, and weight and
                <span>
                  fuel your motivation, strategize your plan so that each
                  workout helps you surpass your previous bests</span>
              </p>
            </div>
            <div class="cta--form">
              <form class="cta-form" name="sign-up">
                <div>
                  <input
                    id="full-name"
                    type="text"
                    placeholder="First Name"
                    name="full-name"
                    required
                  />
                </div>

                <div>
                  <input
                    id="email"
                    type="email"
                    placeholder="Email Address"
                    name="email"
                    required
                  />
                </div>
                <button class="btn btn--cta">Get The Workout Log</button>
              </form>
            </div>
          </div>
        </div>
</section>