---
const disclamer = "The information presented on this site shall not be construed as medical advice. You should always consult with your physician for medical advice in order to make sound medical decisions. The information presented on this site is not intended to replace the counsel of your physician. Do not alter anything in your treatment plan based upon the information on this site; always consult with your physician.";
const year = new Date().getFullYear();
---
 
 <div class="container mx-auto py-8 text-neutral-600 leading-relaxed text-base">
        <p class="mb-2">
          Copyright &copy; {year} Adir Avraham. All
          rights reserved.
        </p>
        <p> {disclamer} </p>
    </div>
