---
import Navigation from "./navigation/Navigation.astro";
import MobileNavButton from "./navigation/MobileNavButton.astro";
---

<header class="container mx-auto flex justify-between items-center bg-white h-24 px-12 relative lg:px-8">
  <a class="font-serif uppercase text-2xl font-semibold tracking-wider transition-all duration-300 hover:text-blue-600" href="/" >
    Adir Avraham
  </a>
  <Navigation/>
 
  <MobileNavButton /> 
</header>

