---
import Navigation from "./Navigation.astro";
import MobileNavButton from "./MobileNavButton.astro";
---

<header>
    <Navigation/>

      <a href="index.html">
        Adir Avraham
      </a>

      <MobileNavButton />
    </header>


</header>