---

---

<nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="articles.html">Articles</a>
          </li>
          <li>
            <a class="main-nav-link" href="tools.html">Tools</a>
          </li>
          <li>
            <a class="main-nav-link nav-cta" href="newsletter.html"
              >Free Workout Log</a
            >
          </li>
        </ul>
</nav>