---
import NavigationItem from "./landing-page/navigation/NavigationItem.astro"
---

<nav class="hidden lg:block">
        <ul class="flex flex-col gap-12 items-center list-none lg:gap-8 lg:flex-row">
          
          <NavigationItem name="Articles" url=""/>
          <NavigationItem name="Tools" url=""/>
          <NavigationItem name="Free Workout Log" url="" cta={true}/>
        </ul>
</nav>

