---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FullCTA from "../components/FullCTA.astro";
import Header from "../components/Header.astro";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={frontmatter.title} description={frontmatter.description} />
    <!-- Article Meta Tags -->
    <meta property="article:published_time" content={frontmatter.pubDate}>
    <meta property="article:author" content={frontmatter.author}>
    <meta property="article:tag" content={frontmatter.tags.map(String).join(',')}>
	</head>

	<body>
		<Header/>
        <slot />
        <FullCTA />
		<Footer/>
	</body>
</html>
